.inputSearch{
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #fff;
    &:focus-within{
        border: 1px solid #3466FF;
        &::after{
            background-image: url("../../assets/images/icon_input_search_active.png");
        }
    }

    &:has(.inputSearch__input:disabled){
        border: 1px solid #BEBEBE;
        background-color: #E7E7E7;
    }

    &::after{
        content: "";
        display: block;
        min-width: 24px;
        height: 24px;
        background-image: url("../../assets/images/icon_input_search_nomal.png");
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 10px;
    }

    &__input{
        width: 100%;
        height: 100%;
        font-size: 14px;
        font-weight: 500;
        padding: 10px 0 10px 15px;
        background-color: #fff;
        &::placeholder{
            color: #C8C8C8;
        }
        &:disabled{
            background-color: #E7E7E7;
        }
    }
}