.checkbox{
    &__input{
        display: none;
        &:checked + .checkbox__label::before{
            background-image: url("../../assets/images/checkbox_active.png");
        }

        &:disabled + .checkbox__label{
            cursor: default;
        }

        &:disabled + .checkbox__label::before{
            background-image: url("../../assets/images/checkbox_disabled.png"); 
        }

        &:checked + .checkbox__label .checkbox__text{
            color: #3466FF;
        }   
    }

    &__label{
        display: flex;
        align-items: center;
        cursor: pointer;
        &::before{
            content: "";
            display: block;
            min-width: 20px;
            height: 20px;
            background-image: url("../../assets/images/checkbox_nomal.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &__text{
        color: #717171;
        font-size: 14px;
        font-weight: 500;
        margin-left: 10px;
    }

}

.checkbox + .checkbox{
    margin-left: 20px;
}